/* Styling the Body */
body {
    margin: 0; /* Removes default margin on the body */
    min-height: 100vh; 
    display: grid; /* Uses CSS Grid layout */
    place-content: center; 
    background: #151515; 
}

/* Styling the Image */
img {
    --s: 300px; /* Defines a CSS custom property (--s) and sets its initial value to 300 pixels */
    width: var(--s); /* Sets the width of the image to the value of the custom property */
    aspect-ratio: 1; /* Maintains a square aspect ratio for the image */

    /* Border Styling */
    border-radius: 50%; /* Applies a circular border radius, making the image circular */
    margin: calc(-0.14 * var(--s)); /* Provides negative margin to create a visual effect */
    outline: var(--s) solid #bf9382; /* Adds a solid outline around the image with a specified width and color */
    outline-offset: calc(var(--s)/-2); /* Adjusts the distance between the outline and the image */

    clip-path: inset(14.65% round 20px); /* Clips the image using an inset shape, creating a rounded rectangle effect */
    transition: 2s; /* Applies a 2-second transition to smooth changes, particularly used for the hover effect */
    cursor: pointer; /* Changes the cursor to a pointer when hovering over the image */
}

/* Hover Effect */
img:hover {
    outline-offset: 0; /* When the image is hovered over, it removes the outline offset, effectively removing the outline and changing the visual appearance */
}
